html {
  font-size: 0.8rem;
}
body {
  background: $bgColor;
  color: $mainFontColor;
}

.all-container {
  width: 100%;
  padding: 20px 15px;
}

.all-case-container {
  //   margin: 0 10px;
  background: $sectionColor;
  border-radius: 15px;
  position: relative;
  min-height: 122px;
  .total-wrap {
    text-align: center;
    padding: 15px 0;
  }
}

.all-countries-container {
  //   margin-top: 20px;
  position: relative;
}
.countries-container {
  display: flex;
  .continent-left {
    margin-left: 0;
  }
  .continent-right {
    margin-right: 0;
  }
}
.continent-wrap {
  position: relative;
  background: $sectionColor;
  flex: 1;
  //   height: 500px;
  margin: 15px 10px;
  padding: 15px 10px;
  border-radius: 15px;
  table {
    overflow: auto;
    display: block;
    color: $mainFontColor;
  }
  thead {
    cursor: pointer;
  }
  tbody {
    display: block;
    height: 400px;
    overflow: auto;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

.load-wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background: rgba(0, 0, 0, 0.7); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  top: 0;
  left: 0;
}

.line {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: #83c1e9;
  margin: 0 6px;
}

.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}

.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}
@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.tab {
  margin-bottom: 10px;
  overflow: hidden;
  background-color: $sectionColor;
  display: flex;
  .web-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    font-size: 24px;
    font-family: monospace;
  }

  button {
    background-color: inherit;
    border: none;
    outline: none;
    color: $mainFontColor;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    &:hover {
      background-color: #ddd;
    }
    &.active {
      background-color: $bgColor;
      color: $mainFontColor;
    }
  }
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.arrow-down{
    font-size: 20px;
}

@media (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}

@media (max-width: 1300px) {
  .countries-container {
    flex-flow: column;
    .continent-right {
      margin-right: 0;
    }
    .continent-left {
      margin-left: 0;
    }
  }

  .continent-wrap {
    margin: 15px 0;
  }
}
